@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Oswald:wght@600&display=swap');
/*
    Google Fonts:
    font-family: 'Asap', sans-serif;
    font-family: 'Oswald', sans-serif;
*/
nav a {
    padding: 10px;
    text-decoration: none;
}

body{
    background-color:aliceblue;
}

nav ul li {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 10px;
}

nav ul {
    background-color: aqua;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

nav ul li:hover{
    background-color:lightcyan;
    color:white;
}

header{
    background-color:aqua;
    color:darkblue;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#contactlist li {
    background-color: lightgrey;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align:center;
    padding: 20px 15px;
    list-style:none;
    margin:1em;
    margin-right:3em;
}

#contactus{
    background-color:lightgrey;
    text-align:center;
}

footer{
    background-color:aqua;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    color:darkblue;
    padding: 30px;
}

footer a{
    padding:8px;
}

main{
    font-family: 'Asap', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

#classes{
    background-color:lightgray;
}

#classlist{
    background-color:lightgray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#logo1{
    padding: 20px;
    float:left;
}

.tablehead{
    padding: 15px;
}

.tablerow1{
    padding: 15px;
}

#teamlist{
    float:right;
    width:20%;
}

#leadership{
    float:left;
    width:70%;
    border-right: 2px solid black;
    padding-right: 60px;
    padding-bottom: 30px;
}

.clear{
    clear:both;
}

.leadershipli{
    padding: 2em;
    background-color:lightgray;
}

#contactus{
    margin:2em;
}

#lightbox-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    padding-top: 65px;
    z-index: 1031;
    display: none;
}

#clickClose{
    color: white;
}

#lightbox-container img{
    margin: auto;
    border: 10px solid gray;
}

.leadershipli{
    cursor: pointer;
}

span#rfvName, span#rfvEmail, span#rfvMessage {
    color: darkblue;
}