@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Oswald:wght@600&display=swap');
/*
    Google Fonts:
    font-family: 'Asap', sans-serif;
    font-family: 'Oswald', sans-serif;
*/
nav a {
    padding: 10px;
    text-decoration: none;
}

body{
    background-color:aliceblue;
}

nav ul li {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 10px;
}

nav ul {
    background-color:aqua;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

nav ul li:hover{
    background-color:lightcyan;
    color:white;
}

header{
    background-color:aqua;
    color:darkblue;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#contactlist li {
    background-color: lightgrey;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align:center;
    padding: 8px;
    list-style:none;
}

#contactus{
    background-color:lightgrey;
    text-align:center;
}

footer{
    background-color:aqua;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    color:darkblue;
    padding: 20px;
}

footer a{
    padding:8px;
}

main{
    font-family: 'Asap', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

#classes{
    background-color:lightgray;
}

#classlist{
    background-color:lightgray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#logo1{
    padding: 20px;
    float:left;
}

.tablehead{
    padding: 15px;
}

.tablerow1{
    padding: 15px;
}